<div class="absolute inset-0 flex flex-col min-w-0 overflow-hidden">

    <!-- Header -->
    <div
    class="flex flex-row flex-0 items-center justify-between p-6 sm:pt-2 pb-10 sm:px-10">
    <div class="flex-1 min-w-0">
        <!-- Title -->
        <div class="mt-1">
            <h2 class="text-3xl font-extrabold tracking-tight leading-10 truncate">
                Register : ลงทะเบียนเยี่ยมบ้าน
            </h2>
        </div>
    </div>
</div>

    <!-- Main -->
    <div class="flex-auto -mt-12 p-4 shadow overflow-y-auto bg-card" cdkScrollable>

        <!-- CONTENT GOES HERE -->
        <div class="h-fit pb-2 -mt-5">
            <div class="flex flex-col flex-auto min-w-0 mb-3">

                <div class="flex flex-row pl-10">
                    <div class="flex align-items-stretch w-full flex-wrap card-container blue-container justify-between">
                        <!-- <div class="flex flex-row m-8"> -->
<!--                             <div class="flex">
                                <div class="flex flex-row w-full pr-1 ml-4 mt-2 cursor-pointer">
                                    <input #pickerDirective type="text"
                                        class="rounded-md border border-slate-400 bg-white shadow h-10 pl-4 pr-4 w-full cursor-pointer -ml-6 datepicker-calendar-icon"
                                        ngxDaterangepickerMd [(ngModel)]="selectedDateStart" [autoApply]="true"
                                        [locale]="{ format: 'DD/MM/YYYY' }" [singleDatePicker]="true"
                                        placeholder="วันที่ค้นหาข้อมูล" (change)="dateChangeStart($event)" />
                                </div>
                                <div class="flex flex-row w-full pr-1 ml-4 mt-2 cursor-pointer">
                                    <input type="text"
                                        class="rounded-md border border-slate-400 bg-white shadow h-10 pl-4 pr-4 w-full cursor-pointer -ml-6 datepicker-calendar-icon"
                                        ngxDaterangepickerMd [(ngModel)]="selectedDateEnd" [autoApply]="true"
                                        [locale]="{ format: 'DD/MM/YYYY' }" [singleDatePicker]="true"
                                        placeholder="วันที่ค้นหาข้อมูล" (change)="dateChangeEnd($event)" />
                                </div>
                            </div>
                            <div class="flex align-items-center justify-content-center m-2">
                                <button mat-button class="bg-teal-500 text-white text-2xl rounded-md mr-2"
                                    matTooltip="ค้นหา" (click)="search()">
                                    <mat-icon class="text-white">search</mat-icon>
                                </button>
                                <button mat-button class="bg-red-400 text-white text-2xl rounded-md"
                                    matTooltip="ล้างข้อมูลการค้นหา" (click)="clear()">
                                    <mat-icon class="text-white">refresh</mat-icon>
                                </button>
                            </div> -->
                        <!-- </div> -->

                        <!-- <div class="flex m-2">
                            <mat-form-field color="accent" class="example-form-field" appearance="outline">
                                <mat-label>HN</mat-label>
                                <input matInput placeholder="HN" [(ngModel)]="hn">
                            </mat-form-field>
                            <div class="flex align-items-center justify-content-center m-2 pr-10">
                                <button mat-raised-button class="bg-indigo-500 text-white text-2xl rounded-md"
                                    matTooltip="ลงทะเบียนเยี่ยมบ้าน" (click)="register()">
                                    <mat-icon class="text-white">person_add</mat-icon>
                                </button>
                            </div>
                        </div> -->

                        <div class="flex flex-row m-8">
                            <div class="flex">
                                <div class="mt-2">
                                    <input matInput placeholder="ระบุ HN" [(ngModel)]="hn" (keyup.enter)="register()" class="rounded-md border border-slate-400 bg-white shadow h-10 pl-4 pr-4 w-full">
                                        
                                </div>
                                <div class="flex align-items-center justify-content-center m-2 pr-10">
                                    <button mat-raised-button class="bg-indigo-500 text-white text-2xl rounded-md"
                                        matTooltip="ลงทะเบียนเยี่ยมบ้าน" (click)="register()">
                                        <mat-icon class="text-white">person_add</mat-icon>
                                    </button>
                                </div>
                            </div>
                        </div>


                    </div>
                </div>

                <div class="flex mt-2 justify-center pl-10 pr-10 rounded">
                    <div class="card-body">
                        <ngx-spinner  color="#fff" type="ball-clip-rotate-multiple" size="medium">
                            <p class="myLoading">Loading Datas...</p>
                        </ngx-spinner>
                    </div>
                    <!-- <div class="flex align-items-stretch flex-wrap card-container blue-container">
                        <div class="flex align-items-center justify-content-center m-2"> -->
                    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 rounded">
                        <ng-container matColumnDef="pcucode">
                            <th mat-header-cell *matHeaderCellDef class="bg-slate-200 text-center"> หน่วยเยี่ยมบ้าน
                            </th>
                            <td mat-cell *matCellDef="let element" (click)="datalist(element);"> {{element.refer_hospname}} </td>
                        </ng-container>

                        <ng-container matColumnDef="name">
                            <th mat-header-cell *matHeaderCellDef class="bg-slate-200 text-center"> ชื่อ - สกุลผู้ป่วย
                            </th>
                            <td mat-cell *matCellDef="let element" (click)="datalist(element);"> {{element.title}}{{element.first_name}}
                                {{element.last_name}} </td>
                        </ng-container>

                        <ng-container matColumnDef="address">
                            <th mat-header-cell *matHeaderCellDef class="bg-slate-200 text-center"> ที่อยู่ </th>
                            <td mat-cell *matCellDef="let element" (click)="datalist(element);"> {{element.patient_address_name}} </td>
                        </ng-container>

                        <ng-container matColumnDef="phone">
                            <th mat-header-cell *matHeaderCellDef class="bg-slate-200 text-center"> โทร </th>
                            <td mat-cell *matCellDef="let element" (click)="datalist(element);"> {{element.tel}} </td>
                        </ng-container>

                        <ng-container matColumnDef="dchdate">
                            <th mat-header-cell *matHeaderCellDef class="bg-slate-200 text-center"> วันที่จำหน่าย </th>
                            <td mat-cell *matCellDef="let element" class="text-center" (click)="datalist(element);"> {{element.discharge_date | thaidate:'short' }} </td>
                        </ng-container>

                        <ng-container matColumnDef="prediag">
                            <th mat-header-cell *matHeaderCellDef class="bg-slate-200 text-center"> วินิจฉัยเบื้องต้น
                            </th>
                            <td mat-cell *matCellDef="let element" (click)="datalist(element);"> {{element.diagnote}} </td>
                        </ng-container>

                        <ng-container matColumnDef="action">
                            <th mat-header-cell *matHeaderCellDef class="bg-slate-200 text-center w-12"> </th>
                            <td mat-cell *matCellDef="let element">
                                <button mat-button color="primary" matTooltip="ส่งเยี่ยมบ้าน"
                                    class="bg-purple-200 text-purple-700 rounded-md" (click)="datalist(element);">
                                    <mat-icon>person_add</mat-icon>
                                </button>
                            </td>
                        </ng-container>

                        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                    </table>

                </div>

            </div>
            <div class="flex w-full justify-end pr-4">
                <mat-paginator [pageSizeOptions]="[10, 20, 30, 40, 50]" showFirstLastButtons
                    aria-label="Select page of periodic elements">
                </mat-paginator>
            </div>
        </div>

    </div>

</div>
