<div
    class="absolute inset-0 flex flex-col min-w-0 overflow-y-auto"
    cdkScrollable>

    <mat-drawer-container class="flex-auto overflow-visible">

        <!-- Drawer -->
        <mat-drawer
            class="w-72 dark:bg-gray-900"
            [autoFocus]="false"
            [mode]="'over'"
            [position]="'end'"
            #matDrawer>
            <!-- Demo sidebar -->
            <evaluate-sidebar></evaluate-sidebar>
        </mat-drawer>

        <!-- Drawer content -->
        <mat-drawer-content class="flex flex-col">

            <!-- Header -->
             <!-- // <div class="flex flex-row flex-0 items-center justify-between p-6 sm:pt-2 pb-10 sm:px-10"></div> -->
            <div class="flex flex-col sm:flex-row flex-0 sm:items-center sm:justify-between p-5 pb-5 sm:pt-5 sm:pb-18 sm:px-10 bg-default dark:bg-transparent">
                <div class="flex-1 min-w-0">
                    <!-- Breadcrumbs -->
                    <div>

                        <div class="flex sm:hidden">
                            <a
                                class="inline-flex items-center -ml-1.5 text-secondary font-medium"
                                [routerLink]="'./..'">
                                <mat-icon
                                    class="icon-size-5 text-secondary"
                                    [svgIcon]="'heroicons_solid:chevron-left'"></mat-icon>
                                <span class="ml-1">Back</span>
                            </a>
                        </div>
                    </div>
                    <!-- Title -->
                    <div class="mt-1">
                        <h2 class="text-3xl md:text-3xl font-extrabold tracking-tight leading-7 sm:leading-10 truncate">
                            ประเมินการเยี่ยมบ้าน
                        </h2>
                    </div>
                    <div class="d-flex flex-row bd-highlight mb-3">
                        <section>
                            <button
                                class="px-3 mr-1 hidden sm:inline-flex"
                                mat-button>
                                <mat-icon
                                    class="icon-size-5"
                                    [svgIcon]="'heroicons_solid:user-circle'"></mat-icon>
                                <span class="ml-2"><b>ชื่อ-สกุล : </b> {{profilePatient.title }}{{profilePatient.first_name }} {{profilePatient.last_name}}</span>
                            </button>

                            <button
                                class="px-3 mr-1 hidden sm:inline-flex"
                                mat-button>
                                <mat-icon
                                    class="icon-size-5"></mat-icon>
                                <span class="ml-2"><b>อายุ : </b> {{profilePatient.age | thaiage }}</span>
                            </button>
                            <button
                            class="px-3 mr-1 hidden sm:inline-flex"
                            mat-button>
                            <mat-icon
                                class="icon-size-5"
                                ></mat-icon>
                            <span class="ml-2"><b>สิ่งที่ต้องประเมิน : </b> {{ catagoryDescription(profilePatient.evaluate_cause) }}</span>
                        </button>
                            
                        </section>
                    </div>
                </div>

                <!-- <div class="flex shrink-0 items-center mt-6 sm:mt-0 sm:ml-4">
                    <button
                        mat-icon-button
                        (click)="matDrawer.toggle()">
                        <mat-icon [svgIcon]="'heroicons_outline:menu'">เลือกการประเมิน</mat-icon>
                    </button>
                </div> -->
                <!-- Actions -->
                <div class="d-flex flex-row bd-highlight mb-3">
                    <button
                        class="mr-2"
                        mat-flat-button
                        [color]="'primary'" (click)="matDrawer.toggle()">
                        <mat-icon
                            class="icon-size-5 mr-2"
                            [svgIcon]="'heroicons_solid:link'"></mat-icon>
                        เลือกการประเมิน
                    </button>
                    <button mat-stroked-button class=" bg-red-300 text-white" (click)="back()">
                        <mat-icon
                            class="icon-size-5 text-white"
                            [svgIcon]="'heroicons_solid:chevron-left'"></mat-icon>
                        Back
                    </button>

                   


                </div>
            </div>

            <!-- Main -->
            <!-- <div class="flex-auto -mt-16 p-6 sm:p-10 rounded-t-2xl shadow bg-card"> -->

            <!-- CONTENT GOES HERE -->
            <!-- <div class="h-400 min-h-400 max-h-400 border-2 border-dashed border-gray-300 rounded-2xl"> -->
            <!-- ประเมิน  home id                -->
            <!-- <router-outlet></router-outlet> -->
            <!-- </div> -->

            <!-- </div> -->
            <div
                class="flex-auto -mt-16 p-6 sm:p-10 shadow overflow-y-auto bg-card"
                cdkScrollable>

                <!-- CONTENT GOES HERE -->
                <div class="h-fit -mt-5 border-gray-300 rounded-2xl">
                    <!-- //วางเนื้อหางานตรงนี้ -->
                    <div class="h-fit border-2 border-dashed border-gray-300 rounded-2xl p-2 shadow bg-card">

                        <router-outlet></router-outlet>
                    </div>


                </div>

            </div>


        </mat-drawer-content>

    </mat-drawer-container>

</div>
